* {
	padding: 0 auto;
  margin: 0 auto;
}

.container{
  display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    width: 95%;
    height: 90%;
    
  }

  body {
    display: flex;
    min-height: auto; 
    flex-direction: column;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
  }
    
  .navbar{
    text-align: justify;
    background: transparent;
    height:50px;
  }
  
  header .logo img {
    width:320px;
    float: left;
    padding: 30px 40px 0 0;
  }

  .elementos_navbar li {
    list-style: none;
    display: inline-block;
    background: #f0d911;
    border-radius: 7px;
    padding: 1% 1%;
    margin: 2% 2%;
  } 
  
  .elementos_navbar li:hover{
    background: #90E295;
  }
  
  .elementos_navbar li a:hover{
    color: black;
  }
  
  .elementos_navbar li a{
    color: rgb(20, 24, 27);
    text-decoration: none;
    font-weight: bold;
  }
  

  body {
    display: flex;
    height: 95%; 
    flex-direction: column;
    background-image: url(img/bg.jpg);
    background-repeat:repeat;

  }
  header{
    width: 100%;
    height: 60px;
  }

  #welcome{
    padding:0;
    margin: 100px 40px 20px 20px;
    width: 100%;
    height: 75%;
    text-align: center;
  }
  .enter{
    padding:0;
    margin: 40px 40px;
    width: 100%;
    height: 75%;
    text-align: center;
  } 

   #category, #idModal{
  display: none;
}

h1, h2, h3, h4, p{
  font-family: 'Oswald', sans-serif;

}

.target{
  margin: 10px;
  width: 250px;
  height: 300px;
  background-color: #f2f1f2;
  box-shadow: 0 20px 50px rgba(0,0,0,.1);
  border-radius: 10px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-stretch: ultra-condensed;
} 
.total{
  width: 200px;
  height: 200px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  background-color: #f0d911;
  float: center;
}
.container-fluid{
  flex-flow: row wrap;
  display: flex;
  justify-content: space-evenly;
  
}

.type .short{
    display: block;
    background: transparent;
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
}

aside{
  margin: 130px 0 0 0;
  display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.username{
  width: 100%;
  text-align: center;

}

.element{
  width: 130px;
  height: 130px;
}

footer{
  background-color: #f0d911;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgb(20, 24, 27);
}
 

 